{
  "openapi": "3.0.3",
  "info": {
    "title": "DJKMD Legends API",
    "version": "0.2.0",
    "description": "API for the DJKMD Legends website (Cloudflare Worker at `djkmdlegends.com/api/*`).\n\nCovers the event/ticketing system (create shows, which mints Square payment links; list/read/update/delete), the public events feed, plus the booking inquiry, mailing-list, and door-check-in (guestlist) endpoints.\n\nAdmin endpoints are gated by a shared passcode sent as a Bearer token. CORS is restricted to the site's own origins."
  },
  "servers": [{ "url": "https://djkmdlegends.com" }],
  "tags": [
    { "name": "Events (public)", "description": "Unauthenticated endpoints the website itself uses." },
    { "name": "Events (admin)", "description": "Passcode-gated event management. Creating/updating tickets mints/deactivates Square payment links." },
    { "name": "Contact", "description": "Booking inquiries and mailing-list signups." },
    { "name": "Guestlist", "description": "Passcode-gated door check-in." }
  ],
  "security": [],
  "paths": {
    "/api/events": {
      "get": {
        "tags": ["Events (public)"],
        "summary": "List upcoming shows",
        "description": "Future shows from KV (form-created) merged with legacy Google Calendar events, sorted by start time. Edge-cached for 60s.",
        "responses": {
          "200": {
            "description": "Upcoming shows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "events": { "type": "array", "items": { "$ref": "#/components/schemas/PublicEvent" } } }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/events/{id}/image": {
      "get": {
        "tags": ["Events (public)"],
        "summary": "Get a show's image",
        "parameters": [{ "$ref": "#/components/parameters/EventId" }],
        "responses": {
          "200": {
            "description": "Image bytes",
            "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
          },
          "404": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/admin/events": {
      "get": {
        "tags": ["Events (admin)"],
        "summary": "List all shows (full detail)",
        "description": "Authoritative, never cached. Includes past shows and Square payment-link ids.",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": {
            "description": "All event records, newest start time first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "events": { "type": "array", "items": { "$ref": "#/components/schemas/EventRecord" } } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Error" }
        }
      },
      "post": {
        "tags": ["Events (admin)"],
        "summary": "Create a show",
        "description": "Validates the input, creates one Square payment link per ticket type, stores the image in R2, and persists the record. Accepts JSON (image as base64/data URL) or multipart/form-data (the admin form).",
        "security": [{ "adminPasscode": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/EventCreate" } },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": { "type": "string", "description": "JSON string of the event fields (showName, description, venueName, venueAddress, startTime, endTime, tickets)." },
                  "image": { "type": "string", "format": "binary" }
                },
                "required": ["payload", "image"]
              }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/EventWrapped" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "502": { "description": "Square rejected a ticket; nothing was saved", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/admin/events/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/EventId" }],
      "get": {
        "tags": ["Events (admin)"],
        "summary": "Get one show (full detail)",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": { "$ref": "#/components/responses/EventWrapped" },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      },
      "patch": {
        "tags": ["Events (admin)"],
        "summary": "Update a show (partial)",
        "description": "Send only the fields to change. Metadata edits keep existing checkout links; sending `tickets` mints new links and deactivates the old. `image` (base64/data URL) replaces the image; `image: null` or `removeImage: true` removes it.",
        "security": [{ "adminPasscode": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EventPatch" } } }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/EventWrapped" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" },
          "502": { "description": "Square rejected a ticket; nothing was saved", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "$ref": "#/components/responses/Error" }
        }
      },
      "delete": {
        "tags": ["Events (admin)"],
        "summary": "Delete a show",
        "description": "Removes the record, deactivates the Square payment link(s), and deletes the R2 image.",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": { "$ref": "#/components/responses/Ok" },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/booking": {
      "post": {
        "tags": ["Contact"],
        "summary": "Submit a booking inquiry",
        "description": "Emails the team and sends the inquirer a confirmation (via Mailgun).",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BookingInquiry" } } }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/Success" },
          "400": { "$ref": "#/components/responses/Error" },
          "500": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/mailing-list": {
      "post": {
        "tags": ["Contact"],
        "summary": "Join the mailing list",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MailingListSignup" } } }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/Success" },
          "400": { "$ref": "#/components/responses/Error" },
          "500": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/guestlist/shows": {
      "get": {
        "tags": ["Guestlist"],
        "summary": "List shows with an uploaded roster",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": {
            "description": "Show ids (YYYY-MM-DD)",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "shows": { "type": "array", "items": { "type": "string", "example": "2026-08-28" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/guestlist/shows/{showId}": {
      "parameters": [{ "name": "showId", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" }, "example": "2026-08-28" }],
      "get": {
        "tags": ["Guestlist"],
        "summary": "Get a show's roster and check-in state",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": {
            "description": "Roster + check-ins",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "parties": { "type": "array", "items": { "$ref": "#/components/schemas/Party" } }, "checkedIn": { "type": "object", "additionalProperties": { "type": "string", "format": "date-time" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/guestlist/shows/{showId}/checkin": {
      "parameters": [{ "name": "showId", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" }, "example": "2026-08-28" }],
      "post": {
        "tags": ["Guestlist"],
        "summary": "Check a party in",
        "security": [{ "adminPasscode": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "partyId": { "type": "string" } }, "required": ["partyId"] } } } },
        "responses": {
          "200": { "description": "Checked in", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "checkedInAt": { "type": "string", "format": "date-time" } } } } } },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      },
      "delete": {
        "tags": ["Guestlist"],
        "summary": "Undo a party's check-in",
        "security": [{ "adminPasscode": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "partyId": { "type": "string" } }, "required": ["partyId"] } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/Ok" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "adminPasscode": {
        "type": "http",
        "scheme": "bearer",
        "description": "The shared admin passcode, sent as `Authorization: Bearer <passcode>`."
      }
    },
    "parameters": {
      "EventId": { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "example": "43c4f19d-766a-4824-8741-e0ad684643a6" }
    },
    "responses": {
      "Error": { "description": "Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Ok": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true } } } } } },
      "Success": { "description": "Success", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "example": true } } } } } },
      "EventWrapped": { "description": "The event record", "content": { "application/json": { "schema": { "type": "object", "properties": { "event": { "$ref": "#/components/schemas/EventRecord" } } } } } }
    },
    "schemas": {
      "Error": { "type": "object", "properties": { "error": { "type": "string" } }, "required": ["error"] },
      "TicketInput": {
        "type": "object",
        "description": "A ticket type and its price in US dollars.",
        "properties": {
          "ticketType": { "type": "string", "maxLength": 100, "example": "Dinner & Show" },
          "price": { "type": "number", "description": "US dollars", "example": 64.95 }
        },
        "required": ["ticketType", "price"]
      },
      "EventTicket": {
        "type": "object",
        "properties": {
          "ticketType": { "type": "string", "example": "Dinner & Show" },
          "priceCents": { "type": "integer", "description": "Price in integer cents", "example": 6495 },
          "checkoutUrl": { "type": "string", "format": "uri", "example": "https://square.link/u/Zr2JB2UE" },
          "squarePaymentLinkId": { "type": "string", "example": "BJ6UYIKBWXD3WLXQ" },
          "squareOrderId": { "type": "string", "example": "9JIM0vw7i7dGNguolk8kbOZ3a47YY" }
        }
      },
      "PublicTicket": {
        "type": "object",
        "properties": {
          "ticketType": { "type": "string" },
          "priceCents": { "type": "integer" },
          "checkoutUrl": { "type": "string", "format": "uri" }
        }
      },
      "EventCreate": {
        "type": "object",
        "required": ["showName", "description", "venueName", "venueAddress", "startTime", "endTime", "tickets", "image"],
        "properties": {
          "showName": { "type": "string", "maxLength": 200 },
          "description": { "type": "string", "maxLength": 5000 },
          "venueName": { "type": "string", "maxLength": 200 },
          "venueAddress": { "type": "string", "maxLength": 500 },
          "startTime": { "type": "string", "format": "date-time", "description": "ISO 8601 with offset; must be in the future", "example": "2026-08-28T16:00:00-04:00" },
          "endTime": { "type": "string", "format": "date-time", "description": "ISO 8601 with offset; after startTime", "example": "2026-08-28T19:00:00-04:00" },
          "tickets": { "type": "array", "minItems": 1, "maxItems": 10, "items": { "$ref": "#/components/schemas/TicketInput" } },
          "image": { "type": "string", "description": "Base64 string or data URL (e.g. data:image/jpeg;base64,...). JPEG/PNG/WebP, <= 5 MB.", "example": "data:image/jpeg;base64,/9j/4AAQ..." },
          "imageType": { "type": "string", "description": "MIME type when `image` is raw base64 (not a data URL).", "example": "image/jpeg" }
        }
      },
      "EventPatch": {
        "type": "object",
        "description": "Any subset of the create fields. At least one field (or an image directive) is required.",
        "properties": {
          "showName": { "type": "string", "maxLength": 200 },
          "description": { "type": "string", "maxLength": 5000 },
          "venueName": { "type": "string", "maxLength": 200 },
          "venueAddress": { "type": "string", "maxLength": 500 },
          "startTime": { "type": "string", "format": "date-time" },
          "endTime": { "type": "string", "format": "date-time" },
          "tickets": { "type": "array", "minItems": 1, "maxItems": 10, "items": { "$ref": "#/components/schemas/TicketInput" }, "description": "Replacing tickets mints new Square links and deactivates the old." },
          "image": { "type": "string", "nullable": true, "description": "Base64/data URL to replace, or null to remove." },
          "imageType": { "type": "string" },
          "removeImage": { "type": "boolean", "description": "Set true to remove the image (alternative to image: null)." }
        }
      },
      "EventRecord": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "showName": { "type": "string" },
          "description": { "type": "string" },
          "venueName": { "type": "string" },
          "venueAddress": { "type": "string" },
          "startTime": { "type": "string", "format": "date-time", "example": "2026-08-28T16:00:00-04:00" },
          "endTime": { "type": "string", "format": "date-time", "example": "2026-08-28T19:00:00-04:00" },
          "imageKey": { "type": "string", "nullable": true, "example": "events/43c4f19d-....webp" },
          "tickets": { "type": "array", "items": { "$ref": "#/components/schemas/EventTicket" } },
          "createdAt": { "type": "string", "format": "date-time" },
          "source": { "type": "string", "enum": ["form", "google-calendar"] }
        }
      },
      "PublicEvent": {
        "type": "object",
        "description": "A show as the website renders it. Form-created events carry id/imageUrl/tickets; legacy calendar events do not.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "date": { "type": "string", "example": "2026-08-28" },
          "time": { "type": "string", "nullable": true, "example": "16:00" },
          "endTime": { "type": "string", "nullable": true, "example": "19:00" },
          "location": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "imageUrl": { "type": "string", "nullable": true, "example": "/api/events/43c4f19d-.../image" },
          "tickets": { "type": "array", "items": { "$ref": "#/components/schemas/PublicTicket" } }
        }
      },
      "BookingInquiry": {
        "type": "object",
        "required": ["name", "email", "date", "location"],
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "phone": { "type": "string" },
          "date": { "type": "string" },
          "time": { "type": "string" },
          "eventType": { "type": "string" },
          "location": { "type": "string" },
          "message": { "type": "string" }
        }
      },
      "MailingListSignup": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "name": { "type": "string" }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string", "nullable": true },
          "quantity": { "type": "integer" },
          "purchases": { "type": "array", "items": { "type": "object", "properties": { "variation": { "type": "string" }, "quantity": { "type": "integer" } } } },
          "orderDate": { "type": "string" },
          "notes": { "type": "string", "nullable": true }
        }
      }
    }
  }
}
