{
  "openapi": "3.0.3",
  "info": {
    "title": "DJKMD Legends API",
    "version": "0.3.0",
    "description": "API for the DJKMD Legends website (Cloudflare Worker at `djkmdlegends.com/api/*`).\n\nCovers the event/ticketing system. Under the v0.3 \"Option E\" model, creating a show makes **no** Square calls — it just stores ticket price configs plus an optional capacity. Checkout links are minted on demand by `POST /api/events/{id}/checkout`, priced for the quantity the buyer picks on the site's stepper. A signed Square webhook auto-builds the door roster and advances the sold counter (flipping the show to \"Sold Out\" at capacity).\n\nAlso covers the public events feed, booking inquiry, mailing-list, and door-check-in endpoints. Admin endpoints are gated by a shared passcode sent as a Bearer token; CORS is restricted to the site's own origins."
  },
  "servers": [{ "url": "https://djkmdlegends.com" }],
  "tags": [
    { "name": "Events (public)", "description": "Unauthenticated endpoints the website itself uses, including dynamic checkout." },
    { "name": "Events (admin)", "description": "Passcode-gated event management. Creation makes no Square calls; checkout links are minted on demand." },
    { "name": "Check-in (admin)", "description": "Passcode-gated multi-event door check-in over the auto-built roster." },
    { "name": "Webhooks", "description": "Square payment webhook (signature-authenticated)." },
    { "name": "Contact", "description": "Booking inquiries and mailing-list signups." },
    { "name": "Guestlist (legacy)", "description": "Passcode-gated door check-in for CSV-imported date rosters (grandfathered shows)." }
  ],
  "security": [],
  "paths": {
    "/api/events": {
      "get": {
        "tags": ["Events (public)"],
        "summary": "List upcoming shows",
        "description": "Future shows from KV (form-created) merged with legacy Google Calendar events, sorted by start time. Edge-cached for 60s.",
        "responses": {
          "200": {
            "description": "Upcoming shows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "events": { "type": "array", "items": { "$ref": "#/components/schemas/PublicEvent" } } }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/events/{id}/image": {
      "get": {
        "tags": ["Events (public)"],
        "summary": "Get a show's image",
        "parameters": [{ "$ref": "#/components/parameters/EventId" }],
        "responses": {
          "200": {
            "description": "Image bytes",
            "content": { "image/*": { "schema": { "type": "string", "format": "binary" } } }
          },
          "404": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/events/{id}/checkout": {
      "parameters": [{ "$ref": "#/components/parameters/EventId" }],
      "post": {
        "tags": ["Events (public)"],
        "summary": "Start checkout for N tickets",
        "description": "Mints (or reuses a cached) Square `quick_pay` link priced `unit × quantity` for one ticket type, and returns its URL. The site redirects the buyer there. Returns 409 if the show is sold out. Links are cached per `(ticketType, quantity)`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ticketType", "quantity"],
                "properties": {
                  "ticketType": { "type": "string", "example": "Dinner & Show" },
                  "quantity": { "type": "integer", "minimum": 1, "maximum": 20, "example": 2 }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Checkout URL", "content": { "application/json": { "schema": { "type": "object", "properties": { "checkoutUrl": { "type": "string", "format": "uri", "example": "https://square.link/u/5QtssRet" } } } } } },
          "400": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" },
          "409": { "description": "Sold out", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "502": { "description": "Square rejected the link request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/square/webhook": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Square payment webhook",
        "description": "Authenticated by the `x-square-hmacsha256-signature` header (HMAC-SHA256 over notificationUrl + raw body, keyed with `SQUARE_WEBHOOK_SIGNATURE_KEY`). On a COMPLETED `payment.updated`, builds the roster entry `party:<eventId>:<paymentId>`, advances the event's `sold` counter, and flips `soldOut` (deactivating cached links) at capacity. Idempotent on payment id.",
        "responses": {
          "200": { "description": "Accepted (or ignored/idempotent)" },
          "401": { "description": "Missing or invalid signature", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "description": "Webhook signature key not configured", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/admin/events": {
      "get": {
        "tags": ["Events (admin)"],
        "summary": "List all shows (full detail)",
        "description": "Authoritative, never cached. Includes past shows, capacity/sold/soldOut, and a computed `remaining`.",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": {
            "description": "All event records, newest start time first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "events": { "type": "array", "items": { "$ref": "#/components/schemas/EventRecord" } } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Error" }
        }
      },
      "post": {
        "tags": ["Events (admin)"],
        "summary": "Create a show",
        "description": "Validates the input, stores the image in R2, and persists the record. Makes NO Square calls — tickets are stored as price configs and checkout links are minted on demand. Accepts JSON (image as base64/data URL) or multipart/form-data (the admin form). Optional `capacity` caps total tickets sold.",
        "security": [{ "adminPasscode": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/EventCreate" } },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "payload": { "type": "string", "description": "JSON string of the event fields (showName, description, venueName, venueAddress, startTime, endTime, tickets)." },
                  "image": { "type": "string", "format": "binary" }
                },
                "required": ["payload", "image"]
              }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/EventWrapped" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "502": { "description": "Square rejected a ticket; nothing was saved", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/admin/events/{id}": {
      "parameters": [{ "$ref": "#/components/parameters/EventId" }],
      "get": {
        "tags": ["Events (admin)"],
        "summary": "Get one show (full detail)",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": { "$ref": "#/components/responses/EventWrapped" },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      },
      "patch": {
        "tags": ["Events (admin)"],
        "summary": "Update a show (partial)",
        "description": "Send only the fields to change, including `capacity` and `soldOut`. Changing `tickets` (types or prices) clears the cached on-demand checkout links so the next checkout re-mints at the new price. `image` (base64/data URL) replaces the image; `image: null` or `removeImage: true` removes it.",
        "security": [{ "adminPasscode": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EventPatch" } } }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/EventWrapped" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" },
          "502": { "description": "Square rejected a ticket; nothing was saved", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "500": { "$ref": "#/components/responses/Error" }
        }
      },
      "delete": {
        "tags": ["Events (admin)"],
        "summary": "Delete a show",
        "description": "Removes the record, deactivates any cached/legacy Square link(s), and deletes the R2 image.",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": { "$ref": "#/components/responses/Ok" },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/admin/events/{id}/guests": {
      "parameters": [{ "$ref": "#/components/parameters/EventId" }],
      "get": {
        "tags": ["Check-in (admin)"],
        "summary": "Get a show's auto roster + check-in state",
        "description": "Roster is built automatically from completed purchases (via the Square webhook).",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": { "description": "Roster + check-ins", "content": { "application/json": { "schema": { "type": "object", "properties": { "parties": { "type": "array", "items": { "$ref": "#/components/schemas/Party" } }, "checkedIn": { "type": "object", "additionalProperties": { "type": "string", "format": "date-time" } } } } } } },
          "401": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/admin/events/{id}/checkin": {
      "parameters": [{ "$ref": "#/components/parameters/EventId" }],
      "post": {
        "tags": ["Check-in (admin)"],
        "summary": "Check a party in",
        "security": [{ "adminPasscode": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "paymentId": { "type": "string" } }, "required": ["paymentId"] } } } },
        "responses": {
          "200": { "description": "Checked in", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "checkedInAt": { "type": "string", "format": "date-time" } } } } } },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      },
      "delete": {
        "tags": ["Check-in (admin)"],
        "summary": "Undo a party's check-in",
        "security": [{ "adminPasscode": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "paymentId": { "type": "string" } }, "required": ["paymentId"] } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/Ok" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/booking": {
      "post": {
        "tags": ["Contact"],
        "summary": "Submit a booking inquiry",
        "description": "Emails the team and sends the inquirer a confirmation (via Mailgun).",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BookingInquiry" } } }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/Success" },
          "400": { "$ref": "#/components/responses/Error" },
          "500": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/mailing-list": {
      "post": {
        "tags": ["Contact"],
        "summary": "Join the mailing list",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MailingListSignup" } } }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/Success" },
          "400": { "$ref": "#/components/responses/Error" },
          "500": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/guestlist/shows": {
      "get": {
        "tags": ["Guestlist (legacy)"],
        "summary": "List shows with an uploaded roster",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": {
            "description": "Show ids (YYYY-MM-DD)",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "shows": { "type": "array", "items": { "type": "string", "example": "2026-08-28" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/guestlist/shows/{showId}": {
      "parameters": [{ "name": "showId", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" }, "example": "2026-08-28" }],
      "get": {
        "tags": ["Guestlist (legacy)"],
        "summary": "Get a show's roster and check-in state",
        "security": [{ "adminPasscode": [] }],
        "responses": {
          "200": {
            "description": "Roster + check-ins",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "parties": { "type": "array", "items": { "$ref": "#/components/schemas/Party" } }, "checkedIn": { "type": "object", "additionalProperties": { "type": "string", "format": "date-time" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/api/guestlist/shows/{showId}/checkin": {
      "parameters": [{ "name": "showId", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^\\d{4}-\\d{2}-\\d{2}$" }, "example": "2026-08-28" }],
      "post": {
        "tags": ["Guestlist (legacy)"],
        "summary": "Check a party in",
        "security": [{ "adminPasscode": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "partyId": { "type": "string" } }, "required": ["partyId"] } } } },
        "responses": {
          "200": { "description": "Checked in", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "checkedInAt": { "type": "string", "format": "date-time" } } } } } },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "404": { "$ref": "#/components/responses/Error" }
        }
      },
      "delete": {
        "tags": ["Guestlist (legacy)"],
        "summary": "Undo a party's check-in",
        "security": [{ "adminPasscode": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "partyId": { "type": "string" } }, "required": ["partyId"] } } } },
        "responses": {
          "200": { "$ref": "#/components/responses/Ok" },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "adminPasscode": {
        "type": "http",
        "scheme": "bearer",
        "description": "The shared admin passcode, sent as `Authorization: Bearer <passcode>`."
      }
    },
    "parameters": {
      "EventId": { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" }, "example": "43c4f19d-766a-4824-8741-e0ad684643a6" }
    },
    "responses": {
      "Error": { "description": "Error", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
      "Ok": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean", "example": true } } } } } },
      "Success": { "description": "Success", "content": { "application/json": { "schema": { "type": "object", "properties": { "success": { "type": "boolean", "example": true } } } } } },
      "EventWrapped": { "description": "The event record", "content": { "application/json": { "schema": { "type": "object", "properties": { "event": { "$ref": "#/components/schemas/EventRecord" } } } } } }
    },
    "schemas": {
      "Error": { "type": "object", "properties": { "error": { "type": "string" } }, "required": ["error"] },
      "TicketInput": {
        "type": "object",
        "description": "A ticket type and its price in US dollars.",
        "properties": {
          "ticketType": { "type": "string", "maxLength": 100, "example": "Dinner & Show" },
          "price": { "type": "number", "description": "US dollars", "example": 64.95 }
        },
        "required": ["ticketType", "price"]
      },
      "EventTicket": {
        "type": "object",
        "description": "A stored ticket. v0.3 tickets are just price configs; the Square link fields are legacy (only on v0.2 shows that minted a link per ticket).",
        "properties": {
          "ticketType": { "type": "string", "example": "Dinner & Show" },
          "priceCents": { "type": "integer", "description": "Price in integer cents", "example": 6495 },
          "checkoutUrl": { "type": "string", "format": "uri", "description": "Legacy v0.2 static link.", "example": "https://square.link/u/Zr2JB2UE" },
          "squarePaymentLinkId": { "type": "string", "description": "Legacy v0.2.", "example": "BJ6UYIKBWXD3WLXQ" },
          "squareOrderId": { "type": "string", "description": "Legacy v0.2.", "example": "9JIM0vw7i7dGNguolk8kbOZ3a47YY" }
        }
      },
      "PublicTicket": {
        "type": "object",
        "description": "Buyers check out via POST /api/events/{id}/checkout; checkoutUrl (if present) is a legacy static link.",
        "properties": {
          "ticketType": { "type": "string" },
          "priceCents": { "type": "integer" },
          "checkoutUrl": { "type": "string", "format": "uri", "description": "Legacy v0.2 static link; absent on v0.3 shows." }
        }
      },
      "EventCreate": {
        "type": "object",
        "required": ["showName", "description", "venueName", "venueAddress", "startTime", "endTime", "tickets", "image"],
        "properties": {
          "showName": { "type": "string", "maxLength": 200 },
          "description": { "type": "string", "maxLength": 5000 },
          "venueName": { "type": "string", "maxLength": 200 },
          "venueAddress": { "type": "string", "maxLength": 500 },
          "startTime": { "type": "string", "format": "date-time", "description": "ISO 8601 with offset; must be in the future", "example": "2026-08-28T16:00:00-04:00" },
          "endTime": { "type": "string", "format": "date-time", "description": "ISO 8601 with offset; after startTime", "example": "2026-08-28T19:00:00-04:00" },
          "tickets": { "type": "array", "minItems": 1, "maxItems": 10, "items": { "$ref": "#/components/schemas/TicketInput" } },
          "capacity": { "type": "integer", "minimum": 1, "nullable": true, "description": "Total tickets across all types; omit/null for unlimited.", "example": 120 },
          "image": { "type": "string", "description": "Base64 string or data URL (e.g. data:image/jpeg;base64,...). JPEG/PNG/WebP, <= 5 MB.", "example": "data:image/jpeg;base64,/9j/4AAQ..." },
          "imageType": { "type": "string", "description": "MIME type when `image` is raw base64 (not a data URL).", "example": "image/jpeg" }
        }
      },
      "EventPatch": {
        "type": "object",
        "description": "Any subset of the create fields. At least one field (or an image directive) is required.",
        "properties": {
          "showName": { "type": "string", "maxLength": 200 },
          "description": { "type": "string", "maxLength": 5000 },
          "venueName": { "type": "string", "maxLength": 200 },
          "venueAddress": { "type": "string", "maxLength": 500 },
          "startTime": { "type": "string", "format": "date-time" },
          "endTime": { "type": "string", "format": "date-time" },
          "tickets": { "type": "array", "minItems": 1, "maxItems": 10, "items": { "$ref": "#/components/schemas/TicketInput" }, "description": "Replacing tickets clears the cached on-demand checkout links." },
          "capacity": { "type": "integer", "minimum": 1, "nullable": true, "description": "Total tickets; null for unlimited." },
          "soldOut": { "type": "boolean", "description": "Manually mark the show sold out (or available again)." },
          "image": { "type": "string", "nullable": true, "description": "Base64/data URL to replace, or null to remove." },
          "imageType": { "type": "string" },
          "removeImage": { "type": "boolean", "description": "Set true to remove the image (alternative to image: null)." }
        }
      },
      "EventRecord": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "showName": { "type": "string" },
          "description": { "type": "string" },
          "venueName": { "type": "string" },
          "venueAddress": { "type": "string" },
          "startTime": { "type": "string", "format": "date-time", "example": "2026-08-28T16:00:00-04:00" },
          "endTime": { "type": "string", "format": "date-time", "example": "2026-08-28T19:00:00-04:00" },
          "imageKey": { "type": "string", "nullable": true, "example": "events/43c4f19d-....webp" },
          "tickets": { "type": "array", "items": { "$ref": "#/components/schemas/EventTicket" } },
          "capacity": { "type": "integer", "nullable": true, "example": 120 },
          "sold": { "type": "integer", "description": "Tickets sold so far (driven by the Square webhook).", "example": 0 },
          "soldOut": { "type": "boolean", "example": false },
          "remaining": { "type": "integer", "nullable": true, "description": "capacity − sold (admin list only); null when uncapped.", "example": 120 },
          "createdAt": { "type": "string", "format": "date-time" },
          "source": { "type": "string", "enum": ["form", "google-calendar"] }
        }
      },
      "PublicEvent": {
        "type": "object",
        "description": "A show as the website renders it. Form-created events carry id/imageUrl/tickets; legacy calendar events do not.",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "date": { "type": "string", "example": "2026-08-28" },
          "time": { "type": "string", "nullable": true, "example": "16:00" },
          "endTime": { "type": "string", "nullable": true, "example": "19:00" },
          "location": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "imageUrl": { "type": "string", "nullable": true, "example": "/api/events/43c4f19d-.../image" },
          "soldOut": { "type": "boolean", "example": false },
          "tickets": { "type": "array", "items": { "$ref": "#/components/schemas/PublicTicket" } }
        }
      },
      "BookingInquiry": {
        "type": "object",
        "required": ["name", "email", "date", "location"],
        "properties": {
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "phone": { "type": "string" },
          "date": { "type": "string" },
          "time": { "type": "string" },
          "eventType": { "type": "string" },
          "location": { "type": "string" },
          "message": { "type": "string" }
        }
      },
      "MailingListSignup": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "name": { "type": "string" }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "firstName": { "type": "string" },
          "lastName": { "type": "string" },
          "email": { "type": "string" },
          "phone": { "type": "string", "nullable": true },
          "quantity": { "type": "integer" },
          "purchases": { "type": "array", "items": { "type": "object", "properties": { "variation": { "type": "string" }, "quantity": { "type": "integer" } } } },
          "orderDate": { "type": "string" },
          "notes": { "type": "string", "nullable": true }
        }
      }
    }
  }
}
